@import "light.theme";

@mixin contentBlock() {
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
}

.headline {
  font-size: 34px;
  color: $font-color-light;
  text-decoration: underline $font-color-light;
  margin-bottom: 30px;
}

.content {

}

.contentHeadline {
  @include contentBlock();
  font-weight: 600;
  font-size: 24px;
}

.contentText {
  @include contentBlock();
  font-size: 18px;
  color: $font-color-light;
}

.contentCode {
  @include contentBlock();
  font-size: 20px;
  color: $code-standard-color;
}

.codeFirstStyle {
  color: $code-first-color;
}

.codeSecondStyle {
  color: $code-second-color;
}

