@import "light.theme";

@mixin NavBarLink() {
  text-decoration: none;
  color: $font-color;
  transition: color 200ms ease 0s;
}

.container {
  display: flex;
}

.navbar {
  width: 300px;
  border-right: 1px solid $border;
  padding: 5px;
}

.navbarSection {
  padding: 5px;
}

.navbarTitle {
  padding: 5px;
  font-size: 20px;
}

.mongodb {
  @include NavBarLink();
  &:hover {
    color: $mongodb-color;
  }
}

.mysql {
  @include NavBarLink();
  &:hover{
    color: $mysql-color;
  }
}

.postgresql {
  @include NavBarLink();
  &:hover {
    color: $postgresql-color;
  }
}
.sql {
  @include NavBarLink();
  &:hover {
    color: $sql-color;
  }
}



.navbarItems {
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}

.navbarItem {
  margin-top: 5px;
}

.content {
  padding: 15px;
  width: 100%;
}

.switchPage {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.switchPageLinkBlock {
  transition: background-color 250ms ease 250ms;
  padding: 7px;
  border: 1px solid $border;
  &:hover {
    background-color: $background-secondary-color;
  }
}