@import "light.theme";

@mixin generator-header-database-block($bg-color) {
  padding: 5px;
  border: 1px solid $border;
  cursor: pointer;
  width: 100px;
  text-align: center;
  background-color: $bg-color;
}

.Generator {

}

.GeneratorHeader {
  display: flex;
}

.GeneratorHeaderCommandsSection {
  width: 70%;
  padding: 5px 10px;;
  display: flex;
  justify-content: space-evenly;
}

.GeneratorHeaderCommandBlock {
  padding: 5px 15px;
  font-size: 20px;
  border: 1px solid $border;
  cursor: pointer;

}

.createBlock {
  background-color: $create-block-color;
  &:hover {
    background-color: lighten($create-block-color, 10%);
  }
}

.updateBlock {
  background-color: $update-block-color;
  &:hover {
    background-color: lighten($update-block-color, 10%);
  }
}

.deleteBock {
  background-color: $delete-block-color;
  &:hover {
    background-color: lighten($delete-block-color, 10%);
  }
}

.getBlock {
  background-color: $get-block-color;
  &:hover {
    background-color: lighten($get-block-color, 10%);
  }
}

.GeneratorHeaderDataBaseSection {
  width: 30%;
  padding: 5px 10px;;
  display: flex;
  justify-content: center;
}

.GeneratorHeaderCommandsContainer {
}

.GeneratorHeaderDataBaseTitle {
  @include generator-header-database-block($background);
}

.GeneratorHeaderDataBaseBlocks {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.GeneratorHeaderDataBaseBlock {
  @include generator-header-database-block(darken($background, 2%));
}
