$background: white;
$border: #ebebeb;
$font-color: black;
$font-color-light: #333;
$mongodb-color: #499d4a;
$mysql-color: #f29111;
$postgresql-color: #336791;

$code-standard-color: black;
$code-first-color: #ffe354;
$code-second-color: #705bfc;