$background: white;
$background-secondary-color: #eee;
$border: #ebebeb;
$font-color: black;
$font-color-light: #333;
$text-decoration-color: #4ddeff;

$mongodb-color: #499d4a;
$mysql-color: #f29111;
$postgresql-color: #336791;


$code-standard-color: black;
$code-first-color: #ffbf40;
$code-second-color: #3b2bed;
$code-quotation-marks-color: #fcda2b;