$background: white;
$background-secondary-color: #eee;
$border: #ebebeb;
$font-color: black;
$font-color-light: #333;
$text-decoration-color: #4ddeff;

$mongodb-color: #499d4a;
$mysql-color: #f29111;
$postgresql-color: #336791;
$sql-color: #FF2A6A;

$code-number-line-color: #0095ff;
$code-standard-color: black;
$code-first-color: #ED002F;
$code-second-color: #00A779;
$code-third-color: #FF5C00;
$code-quotation-marks-color: #FF9C00;