$background: var(--background);
$background-secondary-color: var(--background-secondary-color);
$border: var(--border);
$font-color: var(--font-color);
$font-color-light: var(--font-color-light);
$text-decoration-color: var(--text-decoration-color);

$mongodb-color: var(--mongodb-color);
$mysql-color: var(--mysql-color);
$postgresql-color: var(--postgresql-color);
$sql-color: var(--sql-color);

$code-number-line-color: var(--code-number-line-color);
$code-standard-color: var(--code-standard-color);
$code-first-color: var(--code-first-color);
$code-second-color: var(--code-second-color);
$code-third-color: var(--code-third-color);
$code-quotation-marks-color: var(--code-quotation-marks-color);
$code-shadow-color: var(--code-shadow-color);

$create-block-color: var(--create-block-color);
$create-block-color-hover: var(--create-block-color-hover);
$update-block-color: var(--update-block-color);
$update-block-color-hover: var(--update-block-color-hover);
$delete-block-color: var(--delete-block-color);
$delete-block-color-hover: var(--delete-block-color-hover);
$get-block-color: var(--get-block-color);
$get-block-color-hover: var(--get-block-color-hover);